<% layout('layouts/boilerplate') %>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            
            <h3>Edit ur Listing</h3>
            <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="Listing[title]" value="<%= listing.title %>"  type="text" class="form-control" required>
                    <div class="invalid-feedback">Title field looks empty</div>

                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea name="Listing[description]"  type="text" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">description field looks empty</div>

                </div>
                <div class="mb-3">
                    Original Listing Image
                    <img src="<%= originalImageUrl %>" alt="">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label" required>Upload New Image</label>
                    <input name="image" type="file" class="form-control" >

                </div>
                <div class="row">
                    <div class="mb-3 col-md--4">
                        <label for="price" class="form-label">Price</label>
                        <input name="Listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                        <div class="invalid-feedback">price field looks empty</div>

                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="Listing[country]" value="<%= listing.country %>" type="text" class="form-control" required> 
                        <div class="invalid-feedback">country field looks empty</div>

                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="Listing[location]" value="<%= listing.location %>" type="text" class="form-control">
                    <div class="invalid-feedback">location field looks empty</div>

                </div>
                
                
                <button class="btn btn-dark edit-btn mt-3 mb-3">Edit</button>
    
            </form>
        </div>
    </div>
<script src="/js/script.js"></script>
</body>
